/node_modules
/public/hot
/public/storage
/public/build
/public/css/filament
/public/js/filament
/storage/*.key
/vendor
.env
.env.production
.env.staging
.env.backup
.phpstorm.meta.php
/.phpunit.cache
.phpunit.result.cache
_ide_helper.php
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
.vapor
/testbuild
act.secrets
.phpactor.json